.about-root{
    padding-bottom: 100px;
}

.about-parent{
    display: flex;
    flex-direction: row;
    padding-left: 90px;
}

.aboutMe-heading{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.aboutMe-about{
    font-size: 28px;
    font-weight: 300;
    padding-right: 8px;
}

.aboutMe-me{
    font-size: 28px;
    font-weight: 600;
}

.about-left{
    width: 50%;
    margin-top: 20px;
}

.about-right{
    width: 50%;
    margin-top: 40px;
    flex-wrap: wrap;
}

.info-card{
    background-color: white;
    text-align: center;
    padding: 4vw;
    width: 60%;
    border-radius: 25px;
    box-shadow:0.3rem 0.3rem 0.5rem #e2e3e5, -0.2rem -0.2rem 0.5rem #f3f4f5;
}

.intro-poem{
    display: flex;
    flex-direction: column;
    color: #c7666c;
    font-weight: 300;
    line-height: 1.35;
    padding-bottom: 20px;
}

.about-personal-points-wrapper{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.info-card-small{
    background-color: white;
    border-radius: 20px;
    box-shadow:0.3rem 0.3rem 0.5rem #e2e3e5, -0.2rem -0.2rem 0.5rem #f3f4f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px; 
}

.about-heading{
    margin: 10px;
    width: 100%;
}

.about-hobbies{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 60%;
    margin-left: 20px;
}

.hobby-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow:0.3rem 0.3rem 0.5rem #e2e3e5, -0.2rem -0.2rem 0.5rem #f3f4f5;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.about-discuss{
    float: right;
}

.single-hobby{
  font-size: 30px;
}



@media only screen and (min-width:320px) and (max-width:480px){

    .about-parent{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 60px;
    }

    
    .about-left{
        width: 100%;
        margin-top: 20px;
    }

    .info-card{
        background-color: white;
        text-align: center;
        padding: 4vw;
        width: 100%;
        border-radius: 25px;
        box-shadow:0.3rem 0.3rem 0.5rem #e2e3e5, -0.2rem -0.2rem 0.5rem #f3f4f5;
    }

    .about-personal-points-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-right{
        width: 100%;
        margin-top: 100px;
        flex-wrap: wrap;
    }
}