*{
  padding: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

:root{
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  --black: black
  --button-background: dodgerblue;
  --button-color: white;
  
  --dropdown-highlight: dodgerblue;
  --dropdown-width: 160px;
  --dropdown-background: white;
  --dropdown-color: black;
}